mixin aboutUs()
  section.about-us
    h2.visually-hidden О нас
    img.about-us__cover(src='img/about-us-cover.jpg' width=346 height=320 alt="")
    blockquote.about-us__description
      | “Мы стремимся сделать уход за кожей
      | доступным и приятным ритуалом для всех,
      | кто хочет заботиться
      | о себе и своем теле”
    +buttonLink('#', 'Наша история')
