mixin aboutUs(classes)
  section.about-us(class=classes)
    h2.visually-hidden О нас
    blockquote.about-us__description
      | “Мы стремимся сделать уход за кожей
      | доступным и приятным ритуалом для всех,
      | кто хочет заботиться
      | о себе и своем теле”
    +buttonLink('#', 'Наша история')
