- const filterData = [{name: 'Уход для лица', options: ['Крема', 'Сыворотки', 'Маски', 'Пенки', 'Тоники', 'Пудры']}, {name: 'Уход для тела', options: ['Крема', 'Сыворотки', 'Маски', 'Пенки', 'Тоники', 'Пудры']}, {name: 'Тип кожи', options: ['Нормальная', 'Сухая', 'Жирная', 'Комбинированная']}]

mixin catalogPreview()
  section.catalog-preview
    div.catalog-preview__header
      h1.catalog-preview__title Каталог
      button(type="button" class="catalog-preview__toggler") Переключатель меню фильтров
    div.catalog-preview__filter-list
      form()
        +sliderList(filterData)
