- const filterData = [{name: 'Уход для лица', options: ['Крема', 'Сыворотки', 'Маски', 'Пенки', 'Тоники', 'Пудры']}, {name: 'Уход для тела', options: ['Крема', 'Сыворотки', 'Маски', 'Пенки', 'Тоники', 'Пудры']}, {name: 'Тип кожи', options: ['Нормальная', 'Сухая', 'Жирная', 'Комбинированная']}]

mixin catalogPreview(classes)
  section.catalog-preview.wrapper(class=classes)
    div.catalog-preview__header
      h1.catalog-preview__title Каталог
      button.catalog-preview__toggler.catalog-preview__toggler--close(type="button")
        span.catalog-preview__toggler-inner--close-view Фильтр
        svg.catalog-preview__toggler-inner--open-view
          use(xlink:href="img/sprite.svg#cross-closure")
    div.catalog-preview__filter-list.catalog-preview__filter-list--close
      form
        +sliderList(filterData)
        div.catalog-preview__filter-buttons
          +button('button', 'Применить')
          +button('button', 'Сбросить')
