mixin contacts(classes)
  section.contacts.wrapper(class=classes)
    div.contacts__wrapper
      h2.contacts__title Контакты
      address.contacts__address
        dl.contacts__list.contacts-list
          dt.contacts-list__name Адрес
          dd.contacts-list__description
            | Санкт-Петербург,
            | ул. Большая Конюшенная, 19
          dt.contacts-list__name Телефон
          dd.contacts-list__description
            a.contacts-list__link(href="tel:+89238889060") +7 (923) 888-90-60
          dt.contacts-list__name E-mail
          dd.contacts-list__description
            a.contacts-list__link(href="mailto:info@maroon.ru") info@maroon.ru
      +socNet
    div.contacts__map
