mixin footer(page)
  footer.footer
    div.footer__wrapper.wrapper
      +logo(page, 'footer__logo')
      +footerNav('footer__nav')
      +socNet
    div.footer__copyright-wrapper
      +copyright('footer__copyright wrapper')
