mixin footer(page, classes)
  footer.footer(class=classes)
    div.footer__wrapper.wrapper
      +logo(page, 'footer__logo')
      +footerNav('footer__nav')
      +socNet
    div.footer__copyright-wrapper
      +copyright('footer__copyright wrapper')
