- const menuData = [{linkAltText: 'Личный кабинет', src: 'img/sprite.svg#personal-area'}, {linkAltText: 'Список покупок', src: 'img/sprite.svg#basket'}]
-
  const navLinks = [
    {
      name:'Каталог',
      url:'catalog.html'
    },
    {
      name:'О нас',
      url:'about.html'
    },
    {
      name:'Контакты',
      url:'contacts.html'
    },
    {
      name: 'Карточка товара(WIP)',
      url: 'card.html'
    }
    ]

mixin header(page, classes)
  header.header(class=classes)
    +toggler('header__toggler')
    +logo(page, 'header__logo')
    +userMenu(menuData)
    +nav(navLinks, page, 'header__nav')
      +socNet('header__soc-net')
