- const menuData = [{linkAltText: 'Личный кабинет', src: 'img/svg/personal-area.svg'}, {linkAltText: 'Список покупок', src: 'img/svg/basket.svg'}]
- const navLinks = [{name:'Каталог', url:'catalog.html'}, {name:'О нас', url:'about.html'}, {name:'Контакты', url:'contacts.html'}]

mixin header(page)
  header.header
    +navToggler
    +logo(page)
    +userMenu(menuData)
    +nav(navLinks, page)
    +socNetList
