mixin productInformation()
  section.product-information
    div.product-information__wrapper
      h2.product-information__title Индивидуальный уход
      p.product-information__description
        | Заполните анкету,
        | и мы подберем уход, подходящий
        | именно вам, учитывая ваш
        | образ жизни, место
        | жительства и другие
        | факторы.
      +buttonLink('#', 'Заполнить анкету')
    img(src='img/p-f.jpg' width=250 height=252 alt='Наша продукция')
