-
  const recentlyList = [
    {
      img: 'img/product-2',
      altText: 'Белый крем в стеклянной баночке',
      name: 'Rest',
      description: 'миндальная пудра',
      price: '690₽',
      volume: '20g'
    },
    {
      img: 'img/product-3',
      altText: 'Белый крем в стеклянной баночке',
      name: 'Rose',
      description: 'Крем для лица',
      price: '990₽',
      volume: '50ml'
    },
    {
      img: 'img/product-4',
      altText: 'Белый крем в стеклянной баночке',
      name: 'Milk',
      description: 'масло для тела',
      price: '790₽',
      volume: '150ml'
    },
    {
      img: 'img/product-5',
      altText: 'Белый крем в стеклянной баночке',
      name: 'Lavender',
      description: 'мыло ручной работы',
      price: '290₽',
      volume: '50g'
    }
  ]

mixin recentlyViewed(classes)
  section.recently-viewed.wrapper(class=classes)
    +shortCardList(recentlyList, 'Вы недавно смотрели')
