mixin seasonalOffer(classes)
  section.seasonal-offer(class=classes)
    h2.visually-hidden Сезонное предложение
    div.wrapper.seasonal-offer__wrapper
      p.seasonal-offer__title
        | Встречайте весну
        | вместе с нами
      p.seasonal-offer__description
        | Попробуйте новую коллекцию
        | ухаживающих средств для лица
        | с SPF защитой
      +buttonLink('#', 'Подробнее', 'seasonal-offer__button')
