mixin subscription()
  section.subscription
    h2.subscription__title Присоединяйтесь к нам
    p.subscription__description
      | Подпишитесь на наш аккаунт
      | @marooncare и узнавайте
      | о новиках и акциях первыми
    +buttonLink('#', 'Подписаться')
    img.subscription__collage(src="img/collage.jpg" alt="")
