include _header
include _main-index
include _footer
include library/_library
include _preview
include _bestsellers
include _seasonal-offer
include _product-information
include _aboutUs
include _subscription
include _contacts
include _page-title
include _catalog-preview
include _cards-list
include _recently-viewed
include _card-details
include _offers
include _nav
include _user-menu
include _soc-net-list
