extends pug/layout.pug

block variables
  -
    const page = 'Карточка товара'
    const pageTitle = 'Maroon: информация о товаре'

block content
  +header(page)
  main.main
    +pageTitle(pageTitle)
    +cardDetails
    +offers
  +footer
