extends pug/layout.pug

block variables
  -
    const page = 'Карточка товара'
    const pageTitle = 'Maroon: информация о товаре'

block content
  +header(page)
  +main('main-card product-page')
    +pageTitle(pageTitle)
    +cardDetails
    +offersSlider('main-card__offers', 'Вам также может понравиться')
  +footer
