extends pug/layout

block variables
  -
    const page = 'Каталог'
    const pageTitle = 'Maroon: Каталог косметики'

block content
  +header
  main.main
    +pageTitle(pageTitle)
    +catalogPreview
    +cardsList
    +recentlyViewed
    +subscription
    +contacts
  +footer
