extends pug/layout.pug

block variables
  -
    const page = 'Каталог'
    const pageTitle = 'Maroon: Каталог косметики'

block content
  +header(page)
  +main('main--catalog')
    +pageTitle(pageTitle)
    +catalogPreview
    +cardsList
    +recentlyViewed
    +subscription
    +contacts
  +footer(page)
