extends pug/layout.pug

block variables
  -
    const page = 'Каталог'
    const pageTitle = 'Maroon: Каталог косметики'

block content
  +header(page)
  +main('main--catalog main-catalog')
    +pageTitle(pageTitle)
    +catalogPreview
    +cardsList
    +recentlyViewed('main-catalog__recently-viewed')
    +subscription
    +contacts
  +footer(page)
