extends pug/layout.pug

block variables
  -
    const page = 'Maroon'

block content
  +header(page, 'header--transparent header--index')
  +main('main-index')
    +preview('main-index__preview')
    +bestsellers
    +seasonalOffer
    +productInformation
    +aboutUs
    +subscription
    +contacts('main-index__contacts')
  +footer(page)
