extends pug/layout.pug

block variables
  -
    const page = 'Maroon'

block content
  +header(page)
  main.main.main-index
    +preview('main-index__preview')
    +bestsellers
    +seasonalOffer
    +productInformation
  //  +aboutUs
  //  +subscription
  //  +contacts
  //+footer
