extends pug/layout

block variables
  -
    const page = 'Maroon'

block content
  +header(page)
  main.main
    +preview
    +bestsellers
    +seasonalOffer
    +productInformation
    +aboutUs
    +subscription
    +contacts
    ul#id( class="" )
      li TestNode
  +footer
