extends pug/layout

block variables
  -
    const page = 'Maroon'

block content
  +header(page)
  main.main
    +preview
    +bestsellers
    +seasonalOffer
    +productInformation
    +aboutUs
    +subscription
    +contacts
    ul#id( class="" class="" )
      li TestNode 1+2sssфывsss
    ul#id( class="" class="" )
      li TestNode 1+2sssфывsss
        img
  +footer
