mixin mediumCard(card)
  article.medium-card
    img.medium-card__image(src=card.img alt=card.altText)
    p.medium-card__name-product= card.name
    p.medium-card__description= card.description
    a.medium-card__link Подробнее
