mixin controlPages(classes)
  div.control-pages(class=classes)
    div.control-pages__page-count
      a(href="#").control-pages__link 1
      span.control-pages__line
      a(href="#").control-pages__link.control-pages__link--disabled 3
    div.control-pages__buttons
      button.control-pages__button(type="button" aria-label="Предыдущая страница")
        svg.control-pages__icon(width=24 height=11)
          use(Xlink:href="img/sprite.svg#previous-arrow")
      button.control-pages__button.control-pages__button--disabled(type="button" aria-label="Следующя страница")
        svg.control-pages__icon(width=24 height=11)
          use(Xlink:href="img/sprite.svg#next-arrow")
