mixin controlPages()
  div.control-pages
    div.page-count
      span.page-count__current-page 1
      span.page-count__line -
      span.page-count__last-page 3
    div.page-control
      button.page-control__previous
        img(src="img/svg/previous-arrow.svg" width=24 height=11 alt="Предыдущая страница")
      button.page-control__next
        img(src="img/svg/next-arrow.svg" width=24 height=11 alt="Следующая страница")
