mixin filterList(list, classes)
  ul.filter-list(class=classes)
    each item in list
      li.filter-list__item
        label.filter-list__label
          input.filter-list__input(type='checkbox')
          span.filter-list__name= item
