- const footerLinks = [{name: 'Каталог', url: 'catalog.html'}, {name: 'О нас', url: '#'}, {name: 'Магазины', url: '#'}, {name: 'Контакты', url: '#'}]

mixin footerNav(classes)
  ul.footerNav(class=classes)
    each item in footerLinks
      li.footerNav__item
        a.footerNav__link(href=item.url)= item.name
