mixin nav(navLinks, activePage, classes)
  nav.nav(class=classes)
    ul.nav__list
      each item in navLinks
        li.nav__item(class=`${activePage === item.name ? 'nav__item--active' : ''}`)
          a.nav__link(href=`${item.url}`)= item.name
    if block
      block
