mixin userMenu(menuData, classes)
  ul.user-menu(class=classes)
    each item in menuData
      li.user-menu__item
        a(href="#").user-menu__link
          span.visually-hidden= item.linkAltText
          svg.user-menu__image
            use(xlink:href=item.src)
